.margin-bottom-10{
      margin-bottom: 10% !important;
}

.card-shadow{
  box-shadow: 0px 2px 1px 1px #d0cfcf;
}

.absolute-padding{
  padding: 8% 1% !important;
  height: 13vh;
}

.display-inline{
  display: inline !important;
}
